
/*= Grid */
	.container, .fixContainer { 
		padding: 0px 20px; 
	}
	
	
	.row {  margin-left: 0px; width: 100%; margin: 0 auto; }
	/* To fix the grid into a certain size, set max-width to width */
	.row .row { min-width: 0px; }
	
	.g1, .g2, .g3, .g4, .g5, .g6, .g7, .g8, .g9, .g10, .g11, .g12  { margin-left: 0px; float: left; min-height: 1px; position: relative;  background: url(../../images/main.jpg) center 0 repeat;}
	
	.g1:first-child, .g2:first-child, .g3:first-child, 
		.g4:first-child, .g5:first-child, .g6:first-child, 
		.g7:first-child, .g8:first-child, .g9:first-child, 
		.g10:first-child, .g11:first-child, .g12:first-child
			{ margin-left: 250px; }
	


	img, object, embed { max-width: 100%; }
	img { -ms-interpolation-mode: bicubic; }
	 
	 /* Nicolas Gallagher's micro clearfix */
	 .row:before, .row:after, .clearfix:before, .clearfix:after { content:""; display:table; }
	 .row:after, .clearfix:after { clear: both; }
	 .row, .clearfix { zoom: 1.6; }
	

	
	
	/* Mobile */
	@media only screen and (max-width: 767px) {
		body { -webkit-text-size-adjust: none; }
		
		.container .row, body, .container { width: 93%; min-width: 0; margin-left: 0px; margin-right: 0px; padding-left: 0px; padding-right: 0px; }/*taille du calendar*/
		.container .row .row .g1, .container .row .row .g2, .container .row .row .g3, 
			.container .row .row .g4, .container .row .row .g5, .container .row .row .g6, 
			.container .row .row .g7, .container .row .row .g8, .container .row .row .g9, 
			.container .row .row .g10, .container .row .row .g11, .container .row .row .g12 
				{ padding: 0; }
				
		.container .g1, .container .g2, .container .g3, 
			.container .g4, .container .g5, .container .g6,
			.container .g7, .container .g8, .container .g9, 
			.container .g10, .container .g11, .container .g12  
				{ width: auto !important; float: none; margin-left: 0px; margin-right: 0px; padding-left: 20px; padding-right: 20px; }
		
		.container  .g1:last-child, .container .g2:last-child, .container .g3:last-child, 
			.container .g4:last-child, .container .g5:last-child, .container .g6:last-child, 
			.container .g7:last-child, .container .g8:last-child, .container .g9:last-child, 
			.container .g10:last-child, .container .g11:last-child, .container .g12:last-child 
				{ margin-right: 0px; }
		

	}
	
	

section
{
	margin-left: 500px;
    border: 1px;
}

nav2
{
    position: absolute;
    right: 0px;
    top: 0px;
}


